.single-content{
  position: relative;
  border-radius: 18px;
  transition: 0.3s;
  box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.65);
}

.single-content .text-content,
.single-content:after{
  position: absolute;
  left: 20px;
  right: 20px;
}

.single-content:after{
  content: '';
  display: block;
  background: rgba(0, 0, 0, 0.65);
  border-radius: 18px;
  bottom: 20px;
  top: 20px;
  opacity: 0;
  transform: rotate3d(-1,1,0,100deg);
  transition: 0.4s;
}

.single-content:hover:after{
  opacity: 0.9;
  transform: rotate3d(0,0,0,0deg);
}

.single-content img {
  width: 100%;
  height: auto;
  border-radius: 18px;
}

.text-content{
  top: 45%;
  opacity: 0;
  z-index: 1;
  border-radius: 18px;
  transform: translate(10%, 30%);
  transition: .3s;
  text-align: center;
  padding: 3px;
  color: #FFF;
}

.single-content:hover .text-content{
  opacity: 1;
  transform: translate(0,-50%);
  border-radius: 18px;
  transition-delay: .3s;
}

.videocard{
  padding: 10px;
}
