.social{
  padding: 10px;
  border-radius: 18px;
}

.btn-fb{
  background: #3B5998;
}

.btn-tw{
  background: #00acee;
}

.btn-md{
  background: #2b90d9;
}

.btn-yt{
  background: #ff0000;
}

.btn-gl{
  background: #fc6d26;
}

.btn-st{
  background: #171a21;
}

.btn-t{
  background: #0088cc;
}

.btn-ins{
  background: #c32aa3;
}
