body{
	font-family: 'Comfortaa', cursive !important;
}

.background-mp4{
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;

  position: fixed !important;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  z-index: -100;

  background-size: cover;
}

.bg-transp{
  background: rgba(0, 0, 0, 0.65);
}

nav{
  margin: 8px;
  border-radius: 18px;
	border-bottom: 2px solid #ff9c60;
}

footer{
  margin: 8px;
  border-radius: 18px;
}

.page-link{
  background: rgba(0, 0, 0, 0.65);
  border-radius: 18px !important;
  border: 0px solid;
  color: #ff9c60 !important;
}

.page-link:hover, .page-link:focus, .page-link:active{
  background: rgba(0,0,0,0.3);
  background-color: rgba(0,0,0,0.3);
  border-radius: 18px !important;
  border: 0px solid;
  color: #FFF !important;
}

iframe{
	border-radius: 18px !important;
	box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.65);
}

.contenedor{
	color: #FFF;
	border-radius: 18px;
	background: rgba(0, 0, 0, 0.65);
	padding: 20px;
}

.vcenter{
	vertical-align: middle;
}

.btn-primary{
	background: #ff9c60 !important;
	border-radius: 18px;
	border-color: #ff9c60 !important;
}

h1, h2, h3, h4, h5{
	color: #ff9c60;
}

.nav-link{
	color: #ff9c60;
}

a{
	color: #ff9c60;
}

a:hover, a:focus, a:active{
	color: #ff9c60;
}

.card{
	background: rgba(0, 0, 0, 0.65);
	border-radius: 18px;
	border: 0px solid rgba(0, 0, 0, 0.65);
}

.card-head{
	padding-top: 15px;
}

.minitext{
	font-size: 11px;
	color: #FFF;
}

.dona{
	color: #ff9c60;
}
