<!DOCTYPE html>
<html lang="es">
    {{- partial "head.html" . -}}

    <body>
      <!-- background -->
      <video autoplay muted loop class="background-mp4">
        <source src="/img/background.mp4" type="video/mp4">
      </video>
      <!-- background -->
      {{- partial "header.html" . -}}
      <div id="content" class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <br />
            <br />
          </div>
          <div class="col-md-9">
            {{- block "main" . }}{{- end }}
          </div>
          <div class="col-md-3">
            {{- partial "lateralbar/index.html" . -}}
          </div>
          <div class="col-md-12">
            <br />
            <br />
          </div>
        </div>
      </div>
      {{- partial "footer.html" . -}}
    </body>
</html>
