<div class="col-md-4 videocard">
  <a href="{{ .RelPermalink }}" title="{{ .Title }}">
    <div class="single-content">
      <img src="{{ .Params.img }}" alt="{{ .Title }}" />
      <div class="text-content">
        <h5>{{ .Title }}</h5>
      </div>
    </div>
  </a>
</div>
