{{ define "main" }}
  <div class="container">
    <div class="row">

      <!-- Youtube Player -->
      <div class="col-md-12">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe
            class="embed-responsive-item"
            src='https://www.youtube.com/embed/{{ .Params.code }}?rel=0'
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            autoplay
            controls="2">
          </iframe>
        </div>
      </div>

      <div class="col-md-12">
        <br />
      </div>

      <div class="col-md-12 contenedor">
        <div class="container-fluid">
          <div class="row">

            <div class="col-md-9">
              <h2>{{ .Title }}</h2>
            </div>

            <div class="col-md-3">
              <center class="vcenter">
                <div
                  class="g-ytsubscribe vcenter"
                  data-channelid="{{ .Params.channelid }}"
                  data-layout="default"
                  data-count="default">
                </div>
              </center>
            </div>

          </div>
        </div>
      </div>

      <div class="col-md-12">
        <br />
      </div>

      <div class="col-md-12 contenedor">
        {{ .Content }}
        <br />
        <center>
          {{- partial "widget/social.html" . -}}
        </center>
      </div>

    </div>
  </div>

{{ end }}
