<head>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="theme-color" content="#ff9c60" />
  <meta
    name="description"
    content="Todo el contenido generado por PatoJAD y aledaños puedes encontrarlo en un solo lugar y disfrutar de esta selección que hacemos para vos!"
    property="og:description" />
  <meta
    content='{{ range .Params.tags }} {{.}}, {{ end }} videos, musica, media, ondemand'
    name='keywords' />
  <meta name="author" content="PatoJAD" />

  <!-- Social media META -->
  <meta content='@PatoJADOficial' name='twitter:site'/>
  <meta content='@PatoJADOficial' name='twitter:creator'/>
  <meta property="og:url" content="https://ondemand.patojad.com.ar{{ .RelPermalink }}" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ .Title }}" />
  <meta property="og:image" content="{{ .Params.img }}" />
  <meta property="og:locale" content="es-ES" />

  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous" />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css"
    integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY="
    crossorigin="anonymous" />
  <link
    href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap"
    rel="stylesheet" />
  <link
    rel="stylesheet"
    href="/css/style.css" />
  <link
    rel="stylesheet"
    href="/css/card.css" />
  <link
    rel="stylesheet"
    href="/css/social.css" />

  <title>
    {{ $isHomePage := eq .Title .Site.Title }}{{ .Title }} {{ if eq $isHomePage false }} | {{ .Site.Title }}{{ end }}
  </title>

  <!-- CANONICAL LINK -->
  <link rel="canonical" href="https://patojad.com.ar{{ .RelPermalink }}"/>

  <!-- RSS -->
  {{ range .AlternativeOutputFormats -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}


</head>
