{{ define "main" }}
  <div class="container">
    <div class="row">

      {{ $paginator := .Paginate .Site.RegularPages.ByDate.Reverse }}
      {{ range $paginator.Pages }}

        {{ .Render "card" }}

      {{ end }}

      {{ partial "pagination.html" $paginator }}

    </div>
  </div>

{{ end }}
