{{ define "main" }}
  <div class="container">
    <div class="row">

      <!-- Youtube Player -->
      <div class="col-md-12">
        <div class="embed-responsive embed-responsive-16by9">
          <div class="embed-responsive-item" id="twitch-embed">
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <br />
      </div>

      <div class="col-md-12 contenedor">
        <div class="container-fluid">
          <div class="row">

            <div class="col-md-9">
              <h2>{{ .Title }}</h2>
            </div>

            <div class="col-md-3">
              <center class="vcenter">
                <a class="btn btn-primary" href="https://www.twitch.tv/{{ .Params.channelid }}">
                  Seguir
                </a>
              </center>
            </div>

          </div>
        </div>
      </div>

      <div class="col-md-12">
        <br />
      </div>

      <div class="col-md-12 contenedor">
        {{ .Content }}
        <br />
        <center>
          {{- partial "widget/social.html" . -}}
        </center>
      </div>

    </div>
  </div>

  <!-- Load the Twitch embed script -->
  <script src="https://player.twitch.tv/js/embed/v1.js"></script>

  <!-- Create a Twitch.Player object. This will render within the placeholder div -->
  <script type="text/javascript">
    new Twitch.Player("twitch-embed", {
      video: "{{ .Params.code }}"
    });
  </script>

{{ end }}
