<div class="card">
	<div class="card-head">
		<h4 class="card-title text-center">Categorias</h4>
	</div>
	<div class="card-body">
    <a
      href="/tags/juegos/"
      class="btn btn-lg btn-block text-white">
      <i class="fa fa-gamepad" aria-hidden="true"></i> Juegos/Gameplay
    </a>
    <a
      href="/tags/curso/"
      class="btn btn-lg btn-block text-white">
      <i class="fa fa-book" aria-hidden="true"></i> Cursos
    </a>
    <a
      href="/tags/tutorial/"
      class="btn btn-lg btn-block text-white">
      <i class="fa fa-television" aria-hidden="true"></i> Tutoriales
    </a>
    <a
      href="/tags/musica/"
      class="btn btn-lg btn-block text-white">
      <i class="fa fa-music" aria-hidden="true"></i> Musica
    </a>
  </div>
</div>
