<div class="card">
	<div class="card-head">
		<h4 class="card-title text-center">Busqueda</h4>
	</div>
	<div class="card-body">
		<div class="container-fluid">
			<div class="row" >

        <div id="search-section" class="col-md-12" >
          <div id="search-form" class="field">
            <div class="form-group">
              <input id="search-input" class="form-control" type="text" placeholder="Busqueda">
            </div>
          </div>

          <div id="search-results-box" class="box" style="display: none; overflow-y: scroll;">
            <ul id="search-results-list" class="list-group" style="max-height: 200px;"></ul>
            <div id="search-results-noresults" class="notification is-info">
              No results found.
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
