<!-- Social buttons -->
<ul class="list-unstyled list-inline text-center">

  <li class="list-inline-item">
    <a class="btn-floating btn-fb mx-1 social">
      <i class="fa fa-facebook-f"> </i>
    </a>
  </li>

  <li class="list-inline-item">
    <a class="btn-floating btn-tw mx-1 social">
      <i class="fa fa-twitter"> </i>
    </a>
  </li>

  <li class="list-inline-item">
    <a class="btn-floating btn-md mx-1 social">
      <i class="fa fa-mastodon"> </i>
    </a>
  </li>

  <li class="list-inline-item">
    <a class="btn-floating btn-yt mx-1 social">
      <i class="fa fa-youtube"> </i>
    </a>
  </li>

  <li class="list-inline-item">
    <a class="btn-floating btn-gl mx-1 social">
      <i class="fa fa-gitlab"> </i>
    </a>
  </li>

  <li class="list-inline-item">
    <a class="btn-floating btn-st mx-1 social">
      <i class="fa fa-steam"> </i>
    </a>
  </li>

  <li class="list-inline-item">
    <a class="btn-floating btn-t mx-1 social">
      <i class="fa fa-telegram"> </i>
    </a>
  </li>

  <li class="list-inline-item">
    <a class="btn-floating btn-ins mx-1 social">
      <i class="fa fa-instagram"> </i>
    </a>
  </li>

</ul>
<!-- Social buttons -->
